footer {margin-top: 2% !important;
    width: 100%;
    text-align: center;
    p {
        color: map-get($map: $coloresPaginas, $key: blanco);
        border: solid map-get($map: $coloresPaginas , $key: verde);
        border-radius: 10px;
        margin-top: 5px !important;
        margin-bottom: 0% !important;
        padding-bottom: 0% !important;
        

    }

}