

.tablaPromociones {
    position: relative;
    display: flex;
    flex-direction:row !important;
    min-width: 300px;
    background-color: green;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    text-align: center;    
    padding-top: 2%;
    
    h3 {
      padding-bottom: 0% !important;
    
    }
  }
  .xl {
    display: block;
    text-align: center;         
    p {
      font-size: 2rem;
      margin-bottom: 2.5% !important;
    }
    }

.grid-gallery {
  display: grid;
  margin-top: 5%;
  margin-bottom: 0%;
  place-content: center;
  grid-template-rows: 200px 200px;
  grid-template-columns: 3;
  gap: 3.5rem;
  grid-auto-flow: row dense;
  justify-self: center;
  align-self: center;
}

