@mixin centrado {
    margin-left: auto;
    margin-right: auto;
    
}

header {
    @include centrado;

    .bochinche {
        background-color: transparent;
        font-family: 'Palette Mosaic', cursive;
        font-size: 5rem;
        
        
    }
}
.linkIndex {
    font-family: 'Palette Mosaic', cursive;
    text-decoration: none !important;
    
}

h1 a:hover {
    color: black !important;
    

}