header{
    margin-left: auto;
    margin-right: auto;
    .bochinche {
        color: rgb(26, 196, 97);
    }

    
}
h1 {
    margin-left: auto;
    margin-right: auto;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-cielo-pastel-acuarela-pintado-mano_52683-59501.jpg?size=626&ext=jpg);    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Palette Mosaic', cursive; 
    font-size: 5rem;
    border-top: outset 10px rgb(26, 196, 97);
    border-right: outset 15px rgb(26, 196, 97);
    border-bottom: outset 15px rgb(26, 196, 97);
    border-left: outset 20px rgb(26, 196, 97);
}