@media only screen and (max-width: 600px) {
    nav {
        display: none !important;
    }

    
    header {
        .bochinche{
        margin-left: auto;
        margin-right: auto;
        background-image: url(https://img.freepik.com/vector-gratis/fondo-cielo-pastel-acuarela-pintado-mano_52683-59501.jpg?size=626&ext=jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: 'Palette Mosaic', cursive;
        font-size: 3rem !important;
        }

        footer {
            
            margin-left: auto;
            margin-right: auto;
            bottom: 0;
            
        }
        
 
    
}
.medidasMapa {
    height: 500px;
    width: 450px !important;
}
.map {
    @extend .medidasMapa;
    margin-right:auto;
    margin-left:auto;
    position: relative;
    left: auto;
    right: auto;
    
}
.gmap_canvas {
    @extend .medidasMapa;
    overflow: hidden;
    background: none !important;
    
}
.tablaPromociones {
    display: block !important;
}


}




@media only screen and (min-width: 600px) {
    .menu__btn {
        display: none;
    }

    .menu__box {
        z-index: 3;
    }




    header {
        width: fit-content;
        text-align: center;
        display: inline-block;
    }



    body {
        margin-left: auto;
        margin-right: auto;

    }

    .map {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 15%;
        left: auto;
        right: auto;
        height: 500px;
        width: 600px;
    }




    .tablaPromociones {
        padding-left: 0%;
        border: none;
        grid-template-columns: repeat(3, 1fr);
        font-size: 2rem;
    }

    footer {
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

}


@media all and (min-width: 768px) {
    .grid-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .grid-gallery {
        grid-template-columns: repeat(6, 1fr);
    }
}

.grid-gallery__image {
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
}



footer {

    margin-top: 15%;
    position: relative;
    margin-bottom: 0%;
    width: 100%;
    text-align: center;


}