@media only screen and (max-width: 1100px) {
    
    nav {
        display: none !important;
    }
    p {
        background-color: green !important;
        margin-top: 0% !important;
        border: solid green;
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
        color:rgb(216, 211, 211);
    }

body  {
    text-align: center !important;
}
div {
    p {display: inline-block;

    }
}




    header {
        .bochinche {
            margin-left: auto;
            margin-right: auto;
            background-image: url(https://img.freepik.com/vector-gratis/fondo-cielo-pastel-acuarela-pintado-mano_52683-59501.jpg?size=626&ext=jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            font-family: 'Palette Mosaic', cursive;
            border-radius: 10px;
            border: solid 2px;
            border-color: green;
            font-size: 3rem !important; }     

    }
    

    .medidasMapa {
        height: 400px;
        width: 350px !important;
    }

    .map {
        @extend .medidasMapa;
        margin-right: auto;
        margin-left: auto;
        position: relative;
        left: auto;
        right: auto;

    }

    .gmap_canvas {
        @extend .medidasMapa;
        overflow: hidden;
        background: none !important;

    }

    .tablaPromociones {
        display: block !important;
    }
    footer {
        position: relative !important;
        margin-left: auto;
        margin-top: 50px;
        margin-right: auto;
                   
            
            
        

    }
    .pic-ctn {
        position: relative;
        height: 300px;
        margin-bottom: 50px;
        margin-right: 355px;
}

}




@media only screen and (min-width: 1100px) {
    .pic-ctn {
        position: relative;
        width: 100vw;
        height: 300px;
        margin-bottom: 50px;
      }
    .menu__btn {
        display: none;
    }

    .menu__box {
        z-index: 3;
    }

    header {
        margin-top: 25px !important;
        width: fit-content;
        text-align: center;
        display: inline-block;
    }
    nav {
        margin-top: 2%;
    }



    body {
        
        margin-left: auto;
        margin-right: auto;

    }

    

    .tablaPromociones {
        padding-left: 0%;
        border: none;
        grid-template-columns: repeat(3, 1fr);
        font-size: 2rem;
    }

    footer {
        margin-top: 140px;
        position: relative;
        width: 100%;
        text-align: center;
    
    
    }
    p {
        background-color: green !important;
        margin-top: 0% !important;
        border: solid green;
        border-radius: 10px;
        margin-inline: 25%;
        font-family: 'Roboto', sans-serif;
        color:rgb(216, 211, 211);
    }
    fieldset {
        margin-top: 150px !important;
    }

}


@media all and (min-width: 768px) {
    .grid-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}



.grid-gallery__image {
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
}



