$coloresPaginas: (
    verde: #086308,
    blanco: #f9f5f4,
    verdeclaro: #b2beb5
);

@each $colorPagina, $color in $coloresPaginas {
   .c-#{$colorPagina} {
       color: $color;
   }
   .bgc-#{$colorPagina} {
    background: linear-gradient(to top, green, lightblue);
   }

}
