* {
    Margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    justify-items: center;
   
    

}


@import "media.scss";
@import "carousel.scss";
@import "map.scss";
@import "header.scss";
@import "menu.scss";
@import "efectoBoton";
@import "grid";
@import "variables";
@import "footer";



.layout {
    background-image: url(https://images5.alphacoders.com/428/428016.jpg);
    background-repeat: no-repeat;
    display: grid;
    grid-column: auto;
}
nav {
    margin-bottom: -25px !important;
    
}



div {
    .card{
        p{ border: none;}
    border: none !important;
    background-color: transparent !important;
    }
}
.txtIndex {
    position: relative;
    text-align: center;
    
    width: 80%;
    
}
form {
    text-align: center;
}
main div a {
    $verde: rgb(26, 196, 97);
    background-color: transparent;
}

.imagenIndex {
    margin-top: 5%;
    margin-bottom: 5%;
}





