* {
    Margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    justify-content: center;

}


@import "media.scss";
@import "carousel.scss";
@import "map.scss";
@import "header.scss";
@import "menu.scss";
@import "efectoBoton";
@import "grid";
@import "variables";
@import "footer";
@import "burbujas";



.layout {
    background-image: url(https://images5.alphacoders.com/428/428016.jpg);
    background-repeat: no-repeat;
    display: grid;
    grid-column: auto;
}
nav {
    margin-bottom: -25px !important;
    
}



div {
    .card{
        p{ border: none;}
    border: none !important;
    background-color: transparent !important;
    }
       
}
form {
    text-align: center;
    justify-items: center;
    font-size: large;
}
main div a {
    $verde: rgb(26, 196, 97);
    background-color: transparent;
}

.imagenIndex {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.reserva
{
    margin-top: 15px;
}
.redes
{
    margin-bottom: 10px;
}


fieldset {
    div{
        span{
            position: relative;
            color: red;
            i {
                color: green;
            }
        }
    }
}
